.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width: 100%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.742);
    
}

.white {
    color: rgb(127, 232, 255);
}