.grey {
    color: rgb(228, 225, 225);
}

.border {
    border-bottom-style: solid;
    border-width: thin;
    width: 200px;
}

.border:focus {
    background-color: aquamarine;
}
.border:active {
    background-color: aquamarine;
}
.border:target {
    background-color: aquamarine;
}